@import url(./__text/navigation-row__text.css);

.navigation-row {
  min-height: 94px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .navigation-row {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    min-height: 0;
  }
}