.article_margin_in-column {
  margin: 0 0 39px;
}

.article_margin_in-column:last-child {
  margin: 0;
}

@media screen and (max-width: 1230px) {

  .article_margin_in-column {
    margin: 0 0 25px;
  }
}

