@import url(./__text/content-row__text.css);

.content-row {
  background-color: #171717;
  padding-top: 62px;
  padding-bottom: 49px;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 293px) minmax(min-content, 1fr); 
  grid-template-rows: minmax(min-content, max-content);
  grid-column-gap: 14%;
  }

  @media screen and (max-width: 1230px) {

    .content-row {
      grid-column-gap: 10%;
    }
  }

  @media screen and (max-width: 800px) {

    .content-row {
      padding-top: 40px;
      padding-bottom: 40px;
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
    }
  }

  @media screen and (max-width: 600px) {

    .content-row {
      grid-template-columns: minmax(min-content, 1fr);
      grid-template-rows: repeat(auto-fit, (100px, max-content));
    }

  }

