.instagram__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: repeat(3, minmax(min-content, 1fr)) 50px;
  grid-gap: 10px;
}

@media screen and (max-width: 800px) {
  .instagram__list {
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-template-rows: repeat(2, minmax(min-content, 1fr)) 50px;
  }
}

@media screen and (max-width: 360px) {
  .instagram__list {
    grid-gap: 5px;
  }
}

