.tags_position_sidebar {
  grid-area: tags;
}

@media screen and (max-width: 1230px) {

  .tags_position_sidebar {
    margin: 40px 0 0;
  }
}

@media screen and (max-width: 600px) {

  .tags_position_sidebar {
    margin: 20px 0 0;
  }
}

