@import url(../vendor/normalize.css);
@import url(../vendor/fonts/PT-Sans/PT-Sans.css);

.root {
  font-family: "PT Sans", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page {
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Стили для блока header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: black;
  min-height: 90px;
}

.header__search-button {
  width: 16px;
  height: 17px;
  background-image: url(../images/Shape.svg);
  background-size: contain;
  background-position: center;
}

/* Стили для блока logo */

.logo {
  color: #fff;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
}

.logo__pic {
  text-transform: uppercase;
  padding: 3px 5px;
  background-color: #4a90e2;
  border-radius: 3px;
  margin-left: 6px;
}

/* Cстили для блока navigation */

.navigation__links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navigation__list-item {
  margin-right: 30px;
}

.navigation__list-item:last-child {
  margin-right: 0px;
}

.navigation__links-item {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
}

/* Стили для всей страницы */

.main {
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: #fff;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 292.5px));
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  grid-template-areas:
    "photo-grid photo-grid photo-grid photo-grid"
    "main-content main-content main-content sidebar"
    "toggle toggle . ."
    "most-popular most-popular most-popular most-popular";
}

/* Блок, который отвечает за сжатие содержимого страницы */
.narrow {
  padding-left: 375px;
  padding-right: 375px;
}

/* Стили для секций  */

.section__title {
  font-style: normal;
  font-weight: bold;
  color: #171717;
}

.section__title_position_sidebar {
  font-size: 18px;
  line-height: 1.28;
  margin: 0 0 23px;
}

.section__title_position_main {
  font-size: 30px;
  line-height: 1.3;
  margin: 0 0 27px;
}

.section__title_position_footer {
  font-size: 20px;
  line-height: 1.3;
  margin: 0 0 28px;
  color: #fff;
}

.section__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стили для блока photo-grid */

.photo-grid {
  margin: 0 0 80px;
  padding: 0;
  grid-area: photo-grid;
}

.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  grid-gap: 29px;
}

.photo-grid__list-item {
  height: 100%;
}

.photo-grid__list-item_size_large {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

/*Стили для основной ленты */

.main-content {
  padding: 0;
  margin: 0;
  grid-area: main-content;
}

.main-content__list {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  grid-row-gap: 60px;
  margin: 0 15% 0 0;
}

/* Стили кнопок */

.button {
  width: 100%;
  text-align: center;
  color: white;
  border: 0;
}

.button__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  margin: 0;
}

/* Стили для блоков article (статей). Модификаторы large — для больших статей, medium — для средних, small — для мелких, overlay — для статей с текстом на обложке */

.article {
  position: relative;
}

.article_type_large {
  max-height: 560px; /* Меняется при адаптиве */
}

.article_type_small {
  margin: 0 0 25px;
}

.article_type_small:last-child {
  margin: 0;
}

.article_type_overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 5;
}

.article_margin_in-column {
  margin: 0 0 39px;
}

.article_margin_in-column:last-child {
  margin: 0;
}

.article_margin_in-row {
  margin: 0 30px 0 0;
}

.article_margin_in-row:last-child {
  margin: 0;
}

.article__link {
  text-decoration: none;
}
.article__link_type_small {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.article__link_type_overlay {
  position: relative;
  width: 100%;
}

.article__pic {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.article__pic_type_medium {
  margin: 0 0 20px;
}

.article__pic_type_small {
  max-width: 95px;
  min-height: 95px; /* Могут возникнуть проблемы при масштабировании */
  margin: 0 20px 0 0;
}

.article__pic_type_overlay {
  position: relative;
}

.article__label {
  position: absolute;
  text-decoration: none;
  background-color: #4a90e2;
  border-radius: 3px;
  color: #fff;
  z-index: 5;
  padding: 4px 12px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.33;
}

.article__label_type_large {
  top: 30px;
  left: 30px;
}

.article__label_type_medium {
  top: 20px;
  left: 20px;
}

.article__label_type_overlay {
  top: 30px;
  left: 20px; 
}

.article__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.article__container_type_large {
  margin: 0 20px;
  min-height: 249px; /* Изменяется при адаптиве */
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transform: translateY(-129px); 
  padding: 72px 30px 30px;
}

.article__container_type_small {
  max-width: 178px;
}

.article__container_type_overlay {
  position: absolute;
  left: 20px;
  bottom: 23px;
  z-index: 10;
}

.article__heading {
  padding: 0;
  font-style: normal;
  font-weight: bold;
  color: #171717;
}

.article__heading_type_large {
  margin: 0 0 15px;
  font-size: 25px;
  line-height: 1.12;
  max-width: 600px;
}

.article__heading_type_medium {
  margin: 0 0 10px;
  font-size: 20px;
  line-height: 1.4;
}

.article__heading_type_small {
  font-size: 15px;
  line-height: 1.73;
  color: #ffffff;
  margin: 4px 0 13px;
}

.article__heading_type_overlay {
  font-size: 26px;
  line-height: 1.38;
  color: #ffffff;
  margin: 0px;
}

.article__subtitle {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: #666666;
  padding: 0;
}

.article__subtitle_type_large {
  margin: 0 0 14px;
}

.article__subtitle_type_medium {
  margin: 0;
}

.article__subtitle_type_small {
  line-height: 1;
  color: #cecece;
  margin: 0;
}

.article__subtitle_type_overlay {
  color: #fff;
  margin: 0 0 6px;
}

.article__text {
  font-style: normal;
  font-weight: normal;
  color: #666666;
}

.article__text_type_large {
  font-size: 14px;
  line-height: 1.71;
  max-width: 614px;
  margin: 0;
}

/* Стили для блока sidebar */

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  padding: 0;
  margin: 0;
  grid-row-gap: 60px;
}

/* Стили для блока about-us */

.about-us__pic {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 0 20px;
}

.about-us__title {
  padding: 0;
  margin: 0 0 8px;
  font-size: 18px;
  line-height: 1.27;
}

.about-us__subtitle {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: #666666;
  padding: 0;
  margin: 0 0 14px;
}

.about-us__text {
  font-style: normal;
  font-weight: normal;
  color: #666666;
  font-size: 15px;
  line-height: 1.67;
  margin: 0 0 21px;
}

.about-us__button {
  padding: 17px 0 15px;
  background-color: #232323;
  border-radius: 5px;
}

/* Стили для блока с популярными статьями */

.popular-posts__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

/* Стили для блока с Instagram-постами */

.instagram__title {
  margin: 0 0 25px;
}

.instagram__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: repeat(3, minmax(min-content, 1fr)) 50px;
  grid-gap: 10px;
}

.instagram__pic {
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.instagram__button {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  border-radius: 3px;
  background-color: #232323;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram__logo {
  margin: 0 10px 0 0;
}

/* Стили для блока с тегами */

.tags__title {
  margin: 0 0 26px;
}

.tags__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

.tags__list-item {
  padding: 7px 15px 5px;
  background-color: #ebebeb;
  border-radius: 3px;
  margin: 0 10px 10px 0;
}

.tags__link {
  color: #171717;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
}

/* Стили для email-формы */

.email__title {
  margin: 0 0 11px;
}

.email__subtitle {
  font-style: normal;
  font-weight: normal;
  color: #666666;
  font-size: 14px;
  line-height: 1.71;
  max-width: 252px; /* Тут может быть проблема при масштабировании окна*/
  margin: 0 0 27px;
}

.email__field {
  width: 100%;
  min-height: 50px;
  border-radius: 3px;
  padding: 17px 0 15px 15px;
  box-sizing: border-box;
  margin: 0 0 10px;
}

.email__field_color_grey {
  border: 1px solid #e5e5e5;
  color: #aeb3bb;
}

.email__field_color_black {
  background-color: #373737;
  border: 0;
  color: #aeb3bb;
}

.email__button {
  border-radius: 3px;
  background-color: #232323;
  padding: 16px 0;
}

/* Стили для счётчика страниц */

.toggle {
  grid-area: toggle;
  margin: 67px 0 0;
  max-width: 340px;
}

.toggle__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle__element {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 11px 15px 13px 15px;
  text-align: center;
  max-width: 40px;
  max-height: 40px;
}

.toggle__element_type_checked {
  border: none;
  background-color: #000000;
}

.toggle__element_type_overflow {
  padding: 11px 13px 13px;
}

.toggle__link {
  text-decoration: none;
  color: #171717;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
}

.toggle__link_type_checked {
  color: #fff;
}

/* Стили для блока с самыми популярными статьями */

.most-popular {
  grid-area: most-popular;
  margin: 80px 0 0;
}

.most-popular__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Общие стили для футера */

footer {
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}

/* Стили для контентного блока футера */

.content-row {
  background-color: #171717;
  padding-top: 62px;
  padding-bottom: 49px;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 293px) minmax(
      min-content,
      1fr
    ); /* Будет меняться при сжатии экрана */
  grid-template-rows: minmax(min-content, max-content);
  grid-column-gap: 14%;
  box-sizing: border-box;
}

.content-row__text {
  max-width: 270px;
  padding: 0;
  margin: 28px 0 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.57;
  color: #cecece;
}

/* Стили для блока с иконками соцсетей */

.social-icons__title {
  margin: 0 0 23px;
}

.social-icons__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 230px;
  width: 100%;
}

.social-icons__icon {
  max-width: 34px;
  width: 100%;
  background-color: #373737;
  border-radius: 3px;
  margin: 0 15px 0 0;
}

.social-icons__icon:last-child {
  margin: 0;
}

.social-icons__link {
  height: 34px;
  display: flex;
  justify-content: center;
}

/* Стили для навигационного блока футера */

.navigation-row {
  min-height: 94px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-row__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
}
